@import "../global";
.shoes{
&__title{
    @include font($c-black, 30px, bold, $font-mul); 
    padding:88px 0 64px;
}
&__menu-title{
    @include font($c-black, 20px, bold, $font-mul); 
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    padding-bottom: 16px;
    margin-bottom: 32px;
}
&__menu-list{
    padding-bottom:16px;
}
&__menu-link{
    @include font($c-grey, 16px, normal, $font-mul); 
}
&__menu-link:hover{
    color:$c-pink;
    cursor:pointer;
}
&__content{
    display:flex;
    justify-content: flex-end; 
    flex-direction: column;
}
&__sortMenu{
    padding-bottom: 16px;
}
&__line{
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 900px;
    margin-top: 13px;  
}
&__sort{
    @include font($c-black, 14px, 600, $font-mul); 
    cursor: pointer;
    background-color: $c-white;
    border: 1px solid #000000;
    box-sizing: border-box;  
    margin-left:36px;
    &:hover{
        background-color: #ED165F;
        @include font($c-white, 14px, 600, $font-mul);
    }

}
&__section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
&__catalog{
    margin-bottom: 100px;
    margin-right: 1px;
}
&__catalog:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
&__catalogTitle, &__catalogPrice{
    @include font(black, 14px, 400, $font-mul);
    text-align: center;
    padding-top: 10px;
}
&__catalogImg{
    position: relative;
}
&__img{
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    cursor: pointer;
    backface-visibility: hidden;
}
&__favourites{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column; 
    display: flex;
    justify-content: center;       
}
&__favourites:hover{
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 145px 69px;
}
&__catalogImg:hover, &__img{
    opacity: 1;
}
&__like{
    padding: 11px 9px 9.77px 10px;
    background-color: white;
    outline: none;
    border:none;
    border-radius: 2px;
    width: 45px;
    margin: 0 auto
    }
&__iconLike:hover{
    fill: $c-pink;
    color: #ED165F;
    cursor: pointer;
    }
&__cart{
        display: flex;
        padding: 12px 15px 11px 18px;
        background-color: white;
        outline: none;
        border:none;
        border-radius: 2px;
        @include font(black, 10px, 700, $font-mul);
        margin-top: 10px;
    }

}