@import "../global";
.header {
   padding: 25px 0;
   background-color:  #F5F5F5;
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list {
    margin-left: 60px;
    cursor: pointer;
    &:first-child {
      margin-left: 0;
    }
      }
  &__link{
    @include font($c-black, 14px, 600, $font-mul);
    &:hover{
        color: $c-pink;
        border-bottom: 1px solid #ED165F;
    }
  }
  &__nav{
    display: flex;
    justify-content: flex-start;
  }
  &__logo{
    display: flex;
    justify-content: center;
  }
  &__menu {
    display: flex;
  }
  &__icons {
    display: flex;
    justify-content: flex-end;
  }
  &__icon{
    margin-left: 40px;
    cursor: pointer;
    fill: black;
    &:hover{
      fill: #ED165F;
    }
  }
}
